<div>
<h1>Listing poems</h1>
<%= link_to 'New poem', new_poem_path%>
</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
	  <% @poems.each do |poem| %>
	  	<div class="col-md-4">
	      <%= link_to((image_tag poem.image, style: 'width:100%;height:auto;'),poem_path(poem))%>
	     </div>
	  <% end %>
	</div>
	<div class="col-md-1"></div>
</div>