<div class="row pinksun">
	<div class="col-md-3 col-xs-0"></div>
	<div class="col-md-6 col-xs-12">
		<div class="hello" style="line-height: 50px;">
			<h1> Hi everyone! </h1>
			<img src	="" hight="250" width="250"/>
			<h4> This is "ARI-LAND". </h4>
			<h4>You can do everything in here</h4>
			<div><h1></h1></div>
			<a href=http://localhost:3000/poems>Just follow me</a>
		</div>
	</div>
	<div class="col-md-3 col-xs-0"></div>
</div>

