<div class="Listingpoems">
<h1>Listing photos</h1>
<%= link_to 'New photo', new_photo_path%>
</div>
<div class="row">
	<div class="col-md-1 col-xs-0"></div>
	<div class="col-md-10 col-xs-12">
	  <% @photos.each do |photo| %>
	  	<div class="col-md-3 margin-tb">
		      <%= link_to((image_tag photo.picture, style: 'width:99%;height:auto;'),photo_path(photo))%>
	     </div>
	  <% end %>
	</div>
	<div class="col-md-1 col-xs-0"></div>
</div>
