<!DOCTYPE html>
<html>
	<head>
		<title>About</title>
	</head>
	<body>
		<div="row">
			<div class="col-md-3"></div>
			   	<div class="col-md-6 center">
					<h1> About </h1>
						<img src	="https://graph.facebook.com/1070234806389750/picture?type=square&width=120&height=120" />
						<h3> Artist </h3>
					<h4>함께 먹고 놀고 이야기하고 웃고 울고 쓰고 듣고 함께 행복한 사회를 위해 :)</h4>
							<div><strong> Learn </strong>
			    	     #경영학#Design Thinking</div>
							<div><strong> Language </strong>
								#한국어 #영어</div>
							<div><strong> Computer / Design </strong>
								#파워포인트 #포토샵 #일러스트</div>
							<div><strong> Like </strong>
								#디자인씽킹 #시쓰기 #소통 #컨텐츠 제작 #요리</div>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
	</body>
</html>
