<!DOCTYPE html>
<html>
	<head>
		<title>About</title>
	</head>
	<body>
		<div class="row pinksun">
			<div class="col-md-3 col-xs-0"></div>
			   	<div class="col-md-6 col-xs-12 center">
					<h1> About </h1>
						<img src	="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/13232884_1024991394247425_1749026232229263734_n.jpg?oh=48b0b8abdc775afed9dae392e4cb94b4&oe=58CF4C2E" hight="300" width="300"/>
					<div style="line-height: 45px;">
						<h3> Artist </h3>
						<h4>...</h4>
						<h5>함께 먹고 놀고 이야기하고 웃고 울고 쓰고 듣고 함께 행복한 사회를 위해 :D</h5>
						<ul><strong> Learn </strong>
			    	     	#경영학#Design Thinking</ul>
						<ul><strong> Language </strong>
						#한국어 #영어</ul>
						<ul><strong> Computer / Design </strong>
						#파워포인트 #포토샵 #일러스트</ul>
						<ul><strong> Like </strong>
						#디자인씽킹 #시쓰기 #소통 #컨텐츠 제작 #요리</ul>
					</div>			
				</div>
			</div>
			<div class="col-md-3 col-xs-0"></div>
		</div>
	</body>
</html>
