<!DOCTYPE html>
<html>
	<head>
		<title>About</title>
	</head>
	<body>
		<div class="about">
			<h1> About </h1>
		</div>	
		<div class="img">
			<img src	="https://graph.facebook.com/1070234806389750/picture?type=square&width=120&height=120" />
		</div>
		<div class="artist">
			<ul><h2> Artist </h2></ul>
		</div>
     	<div class="center">
			<h5>함께 먹고 놀고 이야기하고 웃고 울고 쓰고 듣고 함께 행복한 사회를 위해 :D</h5>
			<strong> Learn </strong>
	    	    		 #경영학 #Design Thinking 
			<strong> Language </strong>
				 #한국어 #영어 
			<strong> Computer / Design </strong>
				 #파워포인트 #포토샵 #일러스트
			<strong> Like </strong>
				 #디자인씽킹 #시쓰기 #소통 #컨텐츠 제작 #요리
		</div>
	</body>
</html>	