<!DOCTYPE html>
<html>
	<head>
		<title>About</title>
	</head>
	<body><h1> About </h1>
	<img src	="https://graph.facebook.com/1070234806389750/picture?type=square&width=120&height=120" />
		<p>함께 먹고 놀고 이야기하고 웃고 울고 쓰고 듣고 함께 행복한 사회를 위해 :)</p>
		<ul> 학문 </ul>
         		<li>#경영학
		<ul>언어</ul>
			<li>#한국어</li> 
			<li>#영어</li>
		<ul>컴퓨터 / 디자인</ul>
			<li>#파워포인트</li>
			<li>#포토샵</li>#디자인씽킹 #시쓰기 #소통
		<p>Artist</p>
	</body>
</html>	