<!DOCTYPE html>
<html>
	<head>
		<title>About</title>
	</head>
	<body>
		<div class="img">
			<h1> About </h1>
			<img src	="https://graph.facebook.com/1070234806389750/picture?type=square&width=120&height=120" />
			<ul><h3> Artist </h3></ul>
		</div>
     	<div class="center">
			<h4>Whant to be : 함께 먹고 놀고 이야기하고 웃고 울고 쓰고 듣고 함께 행복한 사회를 위해 :)</h4>
			<ul><strong> Lean </strong></ul>
	    	     	<li> #경영학 #Design Thinking </li>
			<ul><strong> Language </strong></ul>
				<li> #한국어 #영어 </li>
			<ul><strong> Computer / Design </strong></ul>
				<li> #파워포인트 #포토샵 #일러스트 </li>
			<ul><strong> Like </strong></ul>
				</li> #디자인씽킹 #시쓰기 #소통 #컨텐츠 제작 #요리
		</div>
	</body>
</html>	