// Place all the styles related to the Poems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cocenter {
    margin: auto;
    border: 2px solid gray;
    width: 83%;
    padding: 15px;
    text-align: center
}
.poem {
    margin: auto;
    width: 50%;
    padding: 21px;
    text-align: center
}    