// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row {
	.hello {
    		margin: auto;
    		border: 4px solid gray;
         background-color: beige;
         opacity: 0.8;
    		width: 119%;
    		padding: 140px;
    		text-align: center
	}
}

.pinksun { 
	background-image: asset-url("pinkSUN.jpeg");
	magin: 0px;
	width: 103%;
    	padding: 100px;
    text-align: center
}