// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row {
	.hello {
    		margin: auto;
    		border: 4px solid gray;
         background-color: seashell;
         opacity: 0.8;
    		width: 102%;
    		padding: 125px;
    		text-align: center
	}
}

.pinksun {
	background-image: asset-url("pinkSUN.jpeg");
	margin: auto;
    text-align: center;
    letter-spacing: 1px;
    width: 107.1%;
    padding: 5.3%;
    font-family: "Courier New", monospace;

}    

.ps {
    margin: auto;
    opacity: 0.8;
    width: 110%;
    padding: 130px;
    text-align: center
}            